<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blog.jmg.repository.mapper.PagingMapper">
<!--    <select id="show" resultType="String">-->
<!--        show tables;-->
<!--    </select>-->
<!--    <insert id="save" useGeneratedKeys="true" keyProperty="id">-->
<!--        insert into writeForm(title,content)-->
<!--        values (#{title},#{content})-->
<!--    </insert>-->
<!--    <update id="update">-->
<!--        update writeForm-->
<!--        set title=#{updateParam.title},-->
<!--        content=#{updateParam.content}-->
<!--        where id=#{id}-->
<!--    </update>-->
<!--    <select id="findById" resultType="WriteForm">-->
<!--        select * from writeForm where id=#{id}-->
<!--    </select>-->
<!--    <select id="findAll" resultType="WriteForm">-->
<!--        select * from ${tableNum} order by id desc limit #{textNum};-->
<!--    </select>-->
<!--페이징 메서드-->
    <select id="getPaging" resultType="WriteForm">
        select * from ${tableName} order by id desc
    </select>
<!--    <select id="selectTmpAll" resultType="WriteForm">-->
<!--        select * from writeForm order by id desc-->
<!--    </select>-->
</mapper>